@import 'variables';

.container {
    min-height: 100vh;
    // display: flex;
    background: transparent;
    padding: 13vh 5vw 2rem;
    overflow: hidden;
    background: linear-gradient(to bottom, #131517f6, transparent), linear-gradient(to top, #13151700, transparent),;
}

.wrapper {
    display: flex;
    flex-direction: column;
    // width: 100%;
    align-items: center;
    justify-content: center; 
}

.row{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 4rem;
    letter-spacing: 0.4rem;
    background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), $primary, $primary, rgb(255, 255, 255)) text;
    -webkit-text-fill-color: transparent
}

.img{
    width: 35vw;
    border-radius: 10px;
    cursor: pointer;

    &:hover{
        box-shadow: $primary 0px 5px 15px;
    }
}

.imgRow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 10vh;
}