@import 'variables';

.container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    padding: 0 5vw;
    position: relative;
    background: linear-gradient(to bottom, #1315178c, #13151762), url('/images/bg.svg') center/cover fixed no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // top: 20vh;
    // gap: 1rem;
    height: 100vh;
    // z-index: -1;
}

.left {
    flex: 6;
}

.right {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bannerImg {
    width: 10vw;
}

.titleBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 5vw;
    font-weight: 700;
}

.tagline {
    font-size: 1.8vw;
    letter-spacing: 0.3rem;
    font-weight: 500;
    margin-top: -1rem;
}

.taglineBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;
}

.event {
    padding: 1rem;
    width: 20vw;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
    outline: none;
    font-weight: 600;
    color: $white;
    background:linear-gradient(to right,#3b3b3b7c,#01f77e,#01f77e,#3b3b3b7c);
}

.timerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    position: absolute;
    bottom: 1rem;
}

.box{
    display: flex;
    width: 5vw;
    height: 5vw;
    align-items: center;
    justify-content: center;
    color: $primary;
    font-weight: 600;
    font-size: 2vw;
    background-color: #131517ce;
    border-radius: 10px;
}

.date{
    font-size: 1.7vw;
// margin-top: 0.1rem;
}