@import 'variables';

.container{
    display: flex;
    min-height: 100vh;
    width: 100vw;
    padding: 15vh 5vw;
    background: linear-gradient(to bottom, #131517f6, transparent), linear-gradient(to top, #13151700, transparent),;
}

.wrapper{
    display: flex;
    width: 100%;
}

.topBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    // background-color:#131517ad;
    box-shadow: #3b3b3b77 1px 3px 5px;
    height: 10vh;
    border-radius: 10px;
}

.left{
    display: flex;
    flex: 6;
}

.right{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}